{
    "driver_config": {"url": "https://api.coindesk.com/v1/bpi/currentprice.json"},
    "registry_config":"config://udd-RestAPI.csv",
		"driver_type": "udd_restapi",
    "interval": 5,
    "timezone": "UTC",
    "campus": "campus-cloud",
    "building": "building-cloud",
    "unit": "RestAPI",
		"publish_depth_first_all": true,
    "heart_beat_point": "random_bool"
}
